**/build
**/xcode
*.DS_Store
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
liblsdj/liblsdj.a
liblsdj/test/test
lsdj_mono/lsdj-mono
lsdj_wavetable_import/lsdj-wavetable-import
lsdjinst_export/lsdjinst-export
lsdsng_export/lsdsng-export
lsdsng_import/lsdsng-import
